
.spinner_li:first-child .spinner_text {
    background-color: #a37cd2;
}

.spinner_li:nth-child(2) .spinner_text {
    background-color: #28ce93;
}

.spinner_li:nth-child(3) .spinner_text {
    background-color: #ffab91;
}

.spinner_li:nth-child(4) .spinner_text {
    background-color: #e1e195;
}

.spinner_li:nth-child(5) .spinner_text {
    background-color: #dc3e5d;
}

.spinner_li:nth-child(6) .spinner_text {
    background-color: #a8c955;
}

.spinner_li:nth-child(7) .spinner_text {
    background-color: #55c8f1;
}

.spinner_li:nth-child(8) .spinner_text {
    background-color: #9d3edc;
}

.spinner_li:nth-child(9) .spinner_text {
    background-color: #eea24d;
}

.spinner_li:nth-child(10) .spinner_text {
    background-color: #91c8ff;
}

.spinner_li:nth-child(11) .spinner_text {
    background-color: #e1cf47;
}

.spinner_li:nth-child(12) .spinner_text {
    background-color: #f371bd;
}


.spinner_li:first-child {
    transform: rotate(0deg) skewY(-60deg);
}

.spinner_li:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
}

.spinner_li:nth-child(3) {
    transform: rotate(60deg) skewY(-60deg);
}

.spinner_li:nth-child(4) {
    transform: rotate(90deg) skewY(-60deg);
}

.spinner_li:nth-child(5) {
    transform: rotate(120deg) skewY(-60deg);
}

.spinner_li:nth-child(6) {
    transform: rotate(150deg) skewY(-60deg);
}

.spinner_li:nth-child(7) {
    transform: rotate(180deg) skewY(-60deg);
}

.spinner_li:nth-child(8) {
    transform: rotate(210deg) skewY(-60deg);
}

.spinner_li:nth-child(9) {
    transform: rotate(240deg) skewY(-60deg);
}

.spinner_li:nth-child(10) {
    transform: rotate(270deg) skewY(-60deg);
}

.spinner_li:nth-child(11) {
    transform: rotate(300deg) skewY(-60deg);
}

.spinner_li:nth-child(12) {
    transform: rotate(330deg) skewY(-60deg);
}

.spinner_container{
    position: absolute;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid black;

    position: absolute;
    left: 50%;
    top:-5px;
    z-index: 1;
}

.spinner {
    width: 25em;
    height: 25em;
    border: 1px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}

.spinner_li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.spinner_text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;

    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.rotating{
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    100%{
        transform: rotate(360deg);
    }
}

.paused_rotating{
    animation-play-state: paused;
}
