@import "~materialize-css/dist/css/materialize.min.css";
/*
orange lighten-5
*/

input.yellow-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
    color: #ffffff!important;
}

input.yellow-input:focus + label {
    color: #ffab91!important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffab91!important;
    box-shadow: 0 1px 0 0 #ffab91!important;
}


/* Стили для Post */
.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}

/* Стили для Коментариев */
.comment {
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}


.container {
    width: 2000px;
    margin: 0 auto;
}

.hg {
    display: grid;
    grid-template-columns: 800px 1fr 150px;
    grid-template-rows: 350px 1fr 30px;
    grid-gap: 10px;
    min-height: 90vh;
}
.hg-header {
    grid-column: 1 / 4;
}

.hg-footer {
    grid-column: 1 / 4;
}


