* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center; /*по центру*/
  align-items: center; /*по центру*/
}
.cell img {
  width: 48px;
  height: 48px;
  position: relative; /*чтобы удобно перемещать*/
}
.black {
  background-color: #463a94;
}
.white {
  background-color: #c4c4c4;
}

.selected {
  background-color: #a37cd2;
}
.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #28ce93;
}


.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.listfigures {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
