.myModal {
    position: fixed;
    /*Растягиваем на все окно*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*сначала не видно модалку*/
    display: none;
    background: rgba(0,0,0, 0.5);
}

.myModalContent {
    padding: 25px;
    background: white;
    border-radius: 10px;
    min-width: 250px;
}

.myModal.active {
    display: flex;
    /*выравниваем по центру*/
    justify-content: center;
    align-items: center;
}
