.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.spin_button{
    position: absolute;
    left: 40%;
/*    width: 120px;
    height: 40px;*/
}
